{
  "overrides": [
    {
      "files": [
        "public/**/*.js"
      ],
      "env": {
        "browser": true
      }
    }
  ],
  "extends": [
    "oclif",
    "ipfs"
  ],
  "rules": {
    "no-await-in-loop": "off"
  }
}
