
<!doctype html>

html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    block title
      title $APP

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- searching for the other css imports? look in the js file. -->
  body(class="bootstrap")
    block content
      div(id="load")
        nav(class="navbar navbar-dark bg-dark")
          block nav-brand
            <a class="navbar-brand" href="/">Gelos</a>
        
        br
        br
        br
        br
        
        .spinner
          .rect1
          .rect2
          .rect3
          .rect4
          .rect5
          
    app
      
    block scripts
